.peus {
  background-image: url('../img/peus.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}



.morado-letra{
  color: #FF00FF;
}

.morado-fondo {
  background-color: #FF00FF;
}
.footer-color a {
  color: #FF00FF;
}

.container3 {
  margin-top: 3%;
  background-image: url('../img/fons_footer.png');
}
